In [12]:
import seaborn as sns
import matplotlib.pyplot as plt  
import pandas as pd
import numpy as np    
from scipy import stats
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler,MinMaxScaler, RobustScaler
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,recall_score,precision_score,f1_score 
from sklearn.naive_bayes import MultinomialNB

In [2]:
#%pip install ucimlrepo

In [3]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
yeast = fetch_ucirepo(id=110) 
  
# data (as pandas dataframes) 
X = yeast.data.features 
y = yeast.data.targets 
  
# metadata 
print(yeast.metadata) 
  
# variable information 
print(yeast.variables)

{'uci_id': 110, 'name': 'Yeast', 'repository_url': 'https://archive.ics.uci.edu/dataset/110/yeast', 'data_url': 'https://archive.ics.uci.edu/static/public/110/data.csv', 'abstract': 'Predicting the Cellular Localization Sites of Proteins', 'area': 'Biology', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 1484, 'num_features': 8, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['localization_site'], 'index_col': ['Sequence_Name'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1991, 'last_updated': 'Sat Oct 28 2023', 'dataset_doi': '10.24432/C5KG68', 'creators': ['Kenta Nakai'], 'intro_paper': None, 'additional_info': {'summary': 'Predicted Attribute: Localization site of protein. ( non-numeric ).\r\n\r\nThe references below describe a predecessor to this dataset and its development. They also give results (not cross-validated) for classification by a rule-based expert system with that version of the dataset.\r\n\r\nReference: "Expert Sytem for Predicting Protein Localization Sites in Gram-Negative Bacteria", Kenta Nakai & Minoru Kanehisa,  PROTEINS: Structure, Function, and Genetics 11:95-110, 1991.\r\n\r\nReference: "A Knowledge Base for Predicting Protein Localization Sites in Eukaryotic Cells", Kenta Nakai & Minoru Kanehisa, Genomics 14:897-911, 1992.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': None, 'citation': None}}
                name     role         type demographic  \
0      Sequence_Name       ID  Categorical        None
1                mcg  Feature   Continuous        None
2                gvh  Feature   Continuous        None
3                alm  Feature   Continuous        None
4                mit  Feature   Continuous        None
5                erl  Feature   Continuous        None
6                pox  Feature   Continuous        None
7                vac  Feature   Continuous        None
8                nuc  Feature   Continuous        None
9  localization_site   Target  Categorical        None

                                         description units missing_values
0       Accession number for the SWISS-PROT database  None             no
1  McGeoch's method for signal sequence recognition.  None             no
2  von Heijne's method for signal sequence recogn...  None             no
3  Score of the ALOM membrane spanning region pre...  None             no
4  Score of discriminant analysis of the amino ac...  None             no
5  Presence of HDEL substring (thought to act as ...  None             no
6    Peroxisomal targeting signal in the C-terminus.  None             no
7  Score of discriminant analysis of the amino ac...  None             no
8  Score of discriminant analysis of nuclear loca...  None             no
9                                               None  None             no

In [4]:
data = pd.concat([X,y], axis=1)

In [ ]:
#make a tbal with tabulate 
#table vierkante haken per rij binnen grote vierkante haken, en ook headers met vierkante haken

In [5]:
data.head()

    mcg   gvh   alm   mit  erl  pox   vac   nuc localization_site
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22               MIT
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22               MIT
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22               MIT
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22               NUC
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22               MIT

In [6]:
#Part 2: describing the dataset
#The first task is to report on the structure of the dataset and the goal of data mining for the dataset.
#Use a table to give an overview of the attributes, to note the attribute types and to give a brief description of the attributes.

In [7]:
display(data)

       mcg   gvh   alm   mit  erl  pox   vac   nuc localization_site
0     0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22               MIT
1     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22               MIT
2     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22               MIT
3     0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22               NUC
4     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22               MIT
...    ...   ...   ...   ...  ...  ...   ...   ...               ...
1479  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22               ME2
1480  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47               NUC
1481  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22               ME2
1482  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39               NUC
1483  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22               CYT

[1484 rows x 9 columns]

In [8]:
print("Rows, columns:", data)

Rows, columns:        mcg   gvh   alm   mit  erl  pox   vac   nuc localization_site
0     0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22               MIT
1     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22               MIT
2     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22               MIT
3     0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22               NUC
4     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22               MIT
...    ...   ...   ...   ...  ...  ...   ...   ...               ...
1479  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22               ME2
1480  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47               NUC
1481  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22               ME2
1482  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39               NUC
1483  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22               CYT

[1484 rows x 9 columns]

In [9]:
data.dtypes

mcg                  float64
gvh                  float64
alm                  float64
mit                  float64
erl                  float64
pox                  float64
vac                  float64
nuc                  float64
localization_site     object
dtype: object

In [10]:
data.describe()

,mcg,gvh,alm,mit,erl,pox,vac,nuc
count,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000,1484.000000
mean,0.500121,0.499933,0.500034,0.261186,0.504717,0.007500,0.499885,0.276199
std,0.137299,0.123924,0.086670,0.137098,0.048351,0.075683,0.057797,0.106491
min,0.110000,0.130000,0.210000,0.000000,0.500000,0.000000,0.000000,0.000000
25%,0.410000,0.420000,0.460000,0.170000,0.500000,0.000000,0.480000,0.220000
50%,0.490000,0.490000,0.510000,0.220000,0.500000,0.000000,0.510000,0.220000
75%,0.580000,0.570000,0.550000,0.320000,0.500000,0.000000,0.530000,0.300000
max,1.000000,1.000000,1.000000,1.000000,1.000000,0.830000,0.730000,1.000000

In [13]:
# Get Z-scores for specific columns
zscores=stats.zscore(data)
# Absolute values
abs_zcores=abs(zscores)
# Is Z-score < 3
filtered_zscore=abs_zcores<3
# Get a True if all collumns of a row have z-scores <3, else: False
filtered = filtered_zscore.all(axis=1)
# Only keep these rows
data_preprocessed = data[filtered]

data_preprocessed.describe()

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
# Visualize correlations
f, ax = plt.subplots(figsize=(10, 8))
corr = data_preprocessed.corr()
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=bool), cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True, ax=ax,annot=True)

In [ ]:
sns.pairplot(data_preprocessed);

In [ ]:
#Part 3: exploring and pre-processing
#Explore the dataset. Use visualization techniques to gain information on which attributes may be correlated to predict the target(s). 
#Describe the executed pre-processing steps and substantiate why you performed the steps.

In [ ]:
sns.countplot(y, x = "localization_site")

In [ ]:
plot = X.hist(figsize=(20,15),grid=False)

In [ ]:
from scipy.stats import zscore

# Remove the outliers (example code)
data_no_outliers = data[(abs(zscore(data))<=5).all(axis=1)]

# Take a look at the new shape of the dataframe
data_no_outliers.shape

In [ ]:
# Look at the correlations between multiple features by displaying a correlation plot (in heatmap form)
f, ax = plt.subplots(figsize=(20, 16))
corr = data_no_outliers.corr()
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=bool), cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True, ax=ax,annot=True)

In [ ]:
#Part 4: regression
#Use one or more regression techniques to predict a target value. 
#If you choose a technique that is not discussed the course unit, provide a brief description of the technique in your report. 
#After the models construction, use a test set to test your model. 
#Show interesting metrics for the model and try to optimize it. For this you can use normalization, regularization, hyperparameter tuning, higher order features. 
#Describe as much as possible what you have tried and what works and what doesn't work for your dataset.

In [ ]:
#Part 5: classification
#Use one or more classification techniques to predict a target class. 
#If you choose a technique that is not discussed the course unit, provide a brief description of the technique in your report. 
#If there is no class attribute provided or there are multiple class attributes available, create and/or choose one class attribute. 
#After the models construction, use a test set to test your model. 
#Show interesting metrics for the model and try to optimize it. 
#For this you can use normalization, regularization, hyperparameter tuning, higher order features. 
#Describe as much as possible what you have tried and what works and what doesn't work for your dataset.

In [ ]:
#Part 6: clustering
#Choose and apply one or more clustering techniques to your dataset. 
#If you choose a technique that is not in the syllabus of the course unit, provide a brief description of the technique in your report. 
#You are not obliged to use all the available attributes in your model. 
#You can restrict your analysis to attributes that have a good performance, for example by trying different combinations of attributes. 
#Try to use the cluster model as a classification model based on the same attribute as in part 5

In [ ]:
#Part 7: conclusion
#Write a conclusion for the different techniques.
#    Was this a good dataset to try and perform machine learning on?
 #   What where the biggest problems?
  #  If you tried multiple different models for some of the parts, which one worked best?
   # Would you say the different models are good enough to use in a practical context? Why, why not?